body {
    padding-top: 80px;
}

.layer {
    width: 1024px;
    height: 768px;
}

#menu-layer {
    position: absolute;
    z-index: 100;
}

#title-view {
    background: url('../images/title/background.png');
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#title-view .content {
    font-family: 'Ewert', cursive;
    text-align: center;
    position: absolute;
    bottom: 100px;
}

#title-view .content h1 {
    font-family: 'Ewert', cursive;
    font-size: 116px;
}

#title-view button {
    font-size: 33px;
}

#game-layer {
    margin: auto;
    border: 1px solid black;
    background: lightgrey;
}

#signed-in-as {
    height: 32px;
    margin-top: 9px;
    margin-bottom: 9px;
}

#signed-in-as img {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: lightgrey;
}