body {
    padding-top: 80px;
}

#main-content {
    position: relative;
    width: 800px;
    height: 600px;
    background: #488b97;
}

.layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s linear, opacity 0.5s linear;
    overflow: hidden;
    clip: rect(0, 800px, 600px, 0);
}

.active-layer {
    visibility: visible;
    opacity: 1;
}

#title-layer {
    background: url('../images/title/background.jpg');
}

    #title-layer .content {
        font-family: 'Ewert', cursive;
        text-align: center;
        padding-top: 230px;
    }

        #title-layer .content h1 {
            font-family: 'Ewert', cursive;
            font-size: 91px;
            color: #91e0f0;
            background: url('../images/title/title.png') no-repeat;
            background-position: center;
            height: 170px;
            margin-bottom: 30px;
        }

    #title-layer button {
        font-size: 33px;
        position: relative;
        top: 0;
        color: #f6f325;
        background: none;
        border: none;
        transition: top 0.1s ease-out;
        background-position: center;
        line-height: 0;
    }

    #title-layer ul li {
        list-style: none;
        margin-bottom: 20px;
    }

    #title-layer #play-button {
        width: 300px;
        height: 30px;
        background: url('../images/title/start.png') no-repeat;
    }

    #title-layer #help-button {
        width: 410px;
        height: 30px;
        background: url('../images/title/help.png') no-repeat;
    }

        #title-layer button:hover {
            top: -3px;
        }

        #title-layer button:active {
            top: -1px;
        }

#game-layer {
    background: url('../images/chooseHand/background.jpg') no-repeat;
}

#duel-layer {
    background: url('../images/duel/background.jpg');
}

    #duel-layer #start-turn-text {
        font-family: 'Ewert', cursive;
        font-size: 91px;
        color: #91e0f0;
        background: url('../images/duel/start-turn.png') no-repeat;
        background-position: center;
        height: 195px;
        position: absolute;
        top: 240px;
        left: 0;
        right: 0;
        z-index: 200;
        visibility: collapse;
    }

    #duel-layer #scoreboard {
        background: white;
        position: absolute;
        z-index: 300;
        top: -200px;
    }

    #duel-layer #metadata {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    #duel-layer #healthboard {
        position: absolute;
        background: white;
        z-index: 400;
    }

    #duel-layer .player {
        padding: 10px;
        width: 400px;
    }

        #duel-layer .player img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background: lightgray;
            float: left;
        }

        #duel-layer .player .profile {
            float: right;
            width: 75%;
            font-family: 'Open Sans', sans-serif;
            font-size: 24px;
        }

    #duel-layer .player1 {
        float: left;
    }

    #duel-layer .player2 {
        float: right;
    }

    #duel-layer .player .health {
        width: 100%;
        height: 10px;
        margin-top: -5px;
        background: #636363;
        border-radius: 2px;
    }

    #duel-layer .player .remainingHealth {
        width: 100%;
        height: 10px;
        background: #EDE000;
        border-radius: 2px;
        transition: width 0.2s ease-out;
    }

    #duel-layer .player2 .remainingHealth {
        background: #8dc63f;
    }

    #duel-layer .table {
        background: white;
        width: 800px;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        margin: 0;
    }

        #duel-layer .table td {
            min-width: 60px;
        }

        #duel-layer .chip {
            transition: none;
        }

        #duel-layer .bullet {
            border-radius: 50%;
            border: 2px solid whitesmoke;
            background: black;
            width: 36px;
            height: 36px;
            position: absolute;
            top: 300px;
            z-index: 300;
        }

        #duel-layer #player1-bullet {
            left: -136px;
        }

        #duel-layer #player2-bullet {
            left: 900px;
        }

    #duel-layer #scoreboard .chip {
        border-radius: 50%;
        width: 16px;
        height: 16px;
        border: 1px solid black;
        margin: 2px auto;
        visibility: collapse;
    }

    #duel-layer #scoreboard .past-turn .chip {
        visibility: visible;
    }

    #duel-layer #scoreboard .past-turn {
        background: #ebebeb;
    }

    #duel-layer #scoreboard .current-turn {
        background: #ffeeff;
    }

    #duel-layer #healthboard .profile-pic, #duel-layer #scoreboard .profile-pic {
        border-radius: 50%;
        background: lightgray;
        width: 16px;
        height: 16px;
    }


    #duel-layer .controls {
        position: absolute;
        bottom: 20px;
    }

    #duel-layer #left-controls {
        left: 20px;
    }

    #duel-layer #right-controls {
        right: 20px;
    }

#toggle-scoreboard-button {
    float: right;
    margin-top: -25px;
    background: none;
    border: none;
}

#signed-in-as {
    height: 32px;
    margin-top: 9px;
    margin-bottom: 9px;
}

    #signed-in-as img {
        display: inline-block;
        width: 32px;
        height: 32px;
        background-color: lightgrey;
    }

.hide-text {
    overflow: hidden;
    white-space: nowrap;
    text-indent: 200%;
}

#choose-hand-button {
    background: none;
    border: none;
}

#game-over-button {
    background: none;
    border: none;
}

.tutor {
    min-width: 167px;
    height: 167px;
    background: url('../images/chooseHand/tutor.png') no-repeat;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    z-index: 100;
}

    .tutor .instructions {
        position: relative;
        margin-left: -30px;
    }

        .tutor .instructions li {
            position: absolute;
            list-style: none;
        }

    .tutor .instruction {
        margin: 20px 0 auto 180px;
        padding: 4px 8px;
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        background: white;
        border-radius: 6px;
        box-shadow: 5px 5px 2px #636363;
    }

        .tutor .instruction .highlight {
            color: green;
            font-weight: bold;
        }

        .tutor .instruction #instruction-player-name {
            color: red;
            font-weight: bold;
        }

        .tutor .instruction a {
            font-weight: bold;
        }

.instruction {
    transition: visibility 0.5s linear, opacity 0.5s linear;
    visibility: collapse;
    opacity: 0;
}

.active-instruction {
    visibility: visible;
    opacity: 1;
}

.chips {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

    .chips .chip {
        position: absolute;
        border-radius: 50%;
        width: 125px;
        height: 125px;
        padding-top: 3px;
        text-align: center;
        border: 4px solid black;
        transition: margin-top 0.1s ease-out, top 0.5s ease-out;
        cursor: pointer;
    }

.chip:hover {
    margin-top: -3px;
}

.chip:active {
    margin-top: -1px;
}

.unknown {
    background-color: whitesmoke;
}

.down {
    background-color: #004e81;
    color: white;
}

.right {
    background-color: #ede000;
}

.up {
    background-color: #6cd2e0;
}

.left {
    background-color: #d2889f;
}

.key {  
    color: black;
    display: inline-block;
    padding: 6px;
    margin: 1px;
    width: 40px;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    text-shadow: none;
    letter-spacing: 0;
    bottom: 10px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 2px 5px #636363;
}

.game-over-draw {
    background: url('../images/gameOver/background-draw.jpg');
}

.game-over-victory {
    background: url('../images/gameOver/background-victory.jpg');
}

#help-layer {
    background: url('../images/help/background.jpg')
}